* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
}

body {
    background-color: rgb(128, 212, 238);
}

main {
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 20px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.356);
    border-radius: 30px;

}

.foto-perfil {
    width: 200px; /*largura fixa */
    border-radius: 10px; /* Borda arredondadas*/
    display: block;   /* Faz a imagem ocupar a linha toda como um bloco */
    margin: auto;    /* Distribui o espaço sobrando igualmente nos dois lados */
}

.texto-central {
    text-align: center;
}